extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Kennard McGill
        p.lead.text-light
          | Explorer, Learner, Web Enthusiast, Full Stack JavaScript Developer
        .portfolio-bio
          p 
            | I love being a web developer. The idea of learning a computer based coding language and being able to create interative web
            | appications that anyone in the world can access and use is exciting. Learning to code can be a challenge but when you practice,
            | and hone your skills its rewarding when you have a version one of your application or website ready to be released. Being a developer 
            | allows you to be contributor to how people communicate and interact online and do theire jobs more efficiently.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li APIs
          li GitHub
          li APIs
          li PHP
          li HTML
          li CSS 
        h6 Contact Info
        ul
          li 678-431-5046
          li kennardmcgillgmail.com
       
        a.button.expanded(href='https://github.com/Kennard') GitHub
        a.button.expanded(href='https://twitter.com/knardm') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  